<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" class="imgHero" data-edit="img" title="{{item.name}}" width="128" height="128"/les>  
    </header> 
    test
</form>
