<form class="feuille_raoul" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" class="imgObjet" data-edit="img" title="{{item.name}}" width="64" height="64"><H2>{{item.name}}</H2> 
    </header> 
 <div>
     <h3>Description</h3>
<textarea name="system.description" rows="5">{{item.system.description}}</textarea>
</div>
</form>
